# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Build / temp
dist/
build/
tmp/
temp/

# Upload & job runtime folders (important)
backend/uploads/
backend/jobs/

# PM2
.pm2/

# IDE
.vscode/
.idea/

# Mac/Linux hidden
*.swp
